*{
    margin:0;
    box-sizing: border-box;
}
img{
    width:100%;
    height:auto;
}
body{ 
    background-color: goldenrod;
}
#wrapper{
    width:75%;
    margin: auto;
}
header{
    background-color: royalblue;
    text-align: center;
}
header img{
    vertical-align: top;
}

h1{
    color: white;
    
}
p{
    text-align: justify;
}

main{background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    border-top: royalblue dashed 1px;
}
nav{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: royalblue;
    color: white;
    width:100%;
    height: fit-content;
    /* padding: 15px ; */
    
   }

a{
    color: white;
    display: block;
    padding: 20px;
}
article{
    width: 80%;
}
article p{
    margin: 0 10px 10px ;
}
article figure{
    display:flex;
    justify-content: space-between;
}
article img{
    width:30%;
    margin: 0 1% 2%;
}
h2{
    text-align: justify;
    padding: 20px 0px;
    color: coral;
}
    aside{background-color: royalblue;
    color: white;
    width: 20%;
    padding: 10px 10px;
    margin-top: 6%;
}
.deux{
    width: 80%;
    border: 2px solid white;
}


h3{
    color: white;
    padding: 5px 15px;
}
footer{
    text-align: center;
    background-color: midnightblue;
    color: white;
}